{% extends 'homeAdmin.html.twig' %}
{% block tab %}
<h1>Edit Reclamation comme admin</h1>

{{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('showReclaA') }}" class="btn btn-info">back to list</a>

<br>{{ include('home_admin/delete_recla_admin.html.twig') }}<br>
{% endblock %}
