{% extends 'base.html.twig' %}

{% block title %}New PartageExperience{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    <h1>Créer une nouvelle Experience :</h1>

    {{ include('partage_experience/_form.html.twig') }}

    <br>
    <br>

    <a class="btn btn-dark" href="{{ path('partage_experience_index') }}" >Afficher la liste des Experiences</a>
    </div>
    {% endblock %}
