
<h1>Edit As User</h1>
{{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('showEvent') }}">back to list</a>

{{ include('evenement/_delete_form.html.twig') }}